@use 'typography';

:global {
	a.view-all {
		font-size: var(--FONT-SIZE-XS);
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.05em;
		color: var(--COLOR-MID-GRAY);

		&:hover,
		&:focus {
			color: var(--COLOR-ORANGE);
		}
	}
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			display: block;
			transition-duration: 0.3s;
			line-height: 1.167;
			margin-bottom: 0.5em;

			> a {
				margin: 0;
				padding: 0;
			}
		}
	}

	button.reset {
		padding: 0;
		margin: 0;
		display: inline-block;

		flex: 0 0 auto;
		align-self: start;

		background: none;
		border: none;
		text-decoration: none;
		cursor: pointer;

		font-family: var(--FONT-FAMILY-PROXIMA-NOVA);
		font-size: var(--FONT-SIZE-MD);
	}

	input {
		border: none;
		border-bottom: 2px solid var(--COLOR-MID-GRAY);
		font-family: var(--FONT-FAMILY-PROXIMA-NOVA);
		font-size: var(--FONT-SIZE-SM);
	}

	.gray {
		color: var(--COLOR-MID-GRAY);
	}

	.container > figure:first-child {
		grid-column: whole;
		margin: var(--GRID-CELL) 0 calc(var(--GRID-CELL) * 3);
		padding: 0;

		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.margin-bottom-half-em {
		margin-bottom: 0.5em;
	} 

	figure.video {
		position: relative;
		width: 100%;
		height: 0;
		margin: 0;
		padding: 0 0 56.25% 0;
		overflow: hidden;
		background: var(--COLOR-ORANGE);

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}